<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <style>
        #grad {
            height: 200px;
    background-image: linear-gradient(red, yellow);
        }
        body  {background-color: coral;}
    </style>
        
    
    <h1>SQLVELHO</h1>
    <h2>Tervetuloa hallinoimaan tietokantoja!</h2>
    
<br>
<br>
    

    <h1>Käytössäsisi olevat tietokannat: </h1>
              <h1 style="font-size:35px; color:#0080ff;">OPINTOREKISTERI:</h1>

                  <h3><a href="/opiskelija"style="font-size:25px; color: #66b3ff;">OPISKELIJAT</a></h3>
  
                  <h3><a  href="/opintojakso" style="font-size:25px; color:#66b3ff;">OPINTOJAKSOT</a></h3>
    
                  <h3><a href="/arviointi"style="font-size:25px; color: #66b3ff;">ARVIOINNIT</a></h3>
                  <div id="grad"></div>
<br>
<br>
<br>
<br>
<br>
<img src="https://media.makeameme.org/created/my-sql-query.jpg" alt="trolololo" style="width:680px;height:480px;">
  </body>
</html>
